body{
    background-color:#FFFFFF;
}
*{
    box-sizing:border-box;
}
table{
    margin-top:130px;
    margin-left:135px;
    border-color:#DADADA;
}
.container1{
    position:absolute;
    left:141px;
    top:55px;
}
table{
    border-collapse:collapse;
}
td{
    background-color:green;
    padding:20px;
    text-align:center;
    background-color:#FFFFFF;
}
th{
    background-color: #F9F9F9;
}
.box1{
    width:72px;
    height:57px;
}
.container2{
    position:absolute;
    left:235px;
    top:151px;
}
.container3{
    width:276px;
}
.container4{
    width:368px;
}
.box2{
    display: flex;
}
.container5{
    position:absolute;
    width:115px;
    height:36px;
    left:1030px;
    top:199px;
    background-color:#FFD43A;
    justify-content:center;
    align-items: center;
    display:flex;
    border-radius:10px;
}
.container6{
    position:absolute;
    left:1153px;
    top:199px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#E84949;
    color:white;
}
.container7{
    position:absolute;
    left:1030px;
    top:255px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container8{
    position:absolute;
    left:1153px;
    top:255px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#E84949;
    color:white;
}
.container9{
    position:absolute;
    left:1030px;
    top:316px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container10{
    position:absolute;
    left:1153px;
    top:316px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container11{
    position:absolute;
    left:1030px;
    top:374px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container12{
    position:absolute;
    left:1153px;
    top:374px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container13{
    position:absolute;
    left:1030px;
    top:431px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container14{
    position:absolute;
    left:1153px;
    top:431px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container15{
    position:absolute;
    left:1030px;
    top:492px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container16{
    position:absolute;
    left:1153px;
    top:492px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;

}
.container17{
    position:absolute;
    left:1030px;
    top:550px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container18{
    position:absolute;
    left:1153px;
    top:550px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container19{
    position:absolute;
    left:1030px;
    top:610px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container20{
    position:absolute;
    left:1153px;
    top:610px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container21{
    position:absolute;
    left:1030px;
    top:669px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container22{
    position:absolute;
    left:1153px;
    top:669px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}
.container23{
    position:absolute;
    left:1030px;
    top:730px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    background-color:#FFD43A;
}
.container24{
    position:absolute;
    left:1153px;
    top:730px;
    height:36px;
    width:115px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    color:white;
    background-color:#E84949;
}